# ------------------------------
# Operating System
# ------------------------------
.DS_Store
Thumbs.db
desktop.ini

# ------------------------------
# VS Code
# ------------------------------
.vscode/

# ------------------------------
# Python
# ------------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# ------------------------------
# Virtual Machines
# ------------------------------
*.vmdk
*.vdi
*.vhd
*.vhdx
*.vbox
*.vmx
*.nvram
*.vmsd
*.vmem
*.vmss
*.lck

# ------------------------------
# Logs
# ------------------------------
logs/*
!logs/.gitkeep

# ------------------------------
# Reports
# ------------------------------
reports/*
!reports/.gitkeep

# ------------------------------
# Screenshots
# ------------------------------
screenshots/*
!screenshots/.gitkeep

# ------------------------------
# Temporary
# ------------------------------
*.tmp
*.bak
*.cache